.cards{
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    margin: 10px;
    background-image: linear-gradient(to right, #b6fbff, #8aa9d7);
   
    
}
.car{
    border: 1px solid black;
    border-radius: 20px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.but{
    margin-bottom: 10px;
    background-color: red;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.edit{
    margin-bottom: 10px;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.out{
    margin: 20px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 9px;
}
button{
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    color: black;
    
}
h4{
    font-size: 14px;
    font-style: normal;
}
.in{
    padding: 10px;
    border-radius: 5px;
    width: 80%;
}
.fil{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
}
.status{
    margin-bottom: 10px;
    background-color: rgb(228, 228, 12);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

