body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .food {
    border: 1px solid rgb(30, 21, 21);
    display: flex;
    width: 90%; 
    max-width: 475px; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FE724c;
    height: 100vh;
    text-align: center;
    margin: auto;
    
  }
  
  .food img {
    max-width: 50%; 
    height: auto;
  }
  
 
  
  
 
  
  
  
  